.searchHeader {
  position: relative;
  border: 1px solid var(--el-border-color-light);
  background-color: var(--el-bg-color-overlay);
  border-radius: 8px;
  padding: 18px 0 0 18px;
  margin-bottom: 10px;
  transition: height 0.3s ease;
}

.table-containerss {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 15px 0px 15px;
}

.searchHeader .form-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px; */
}

.searchHeader .form-item {
  flex: 1 1 200px;
  margin-right: 20px;
}

.searchHeader .button-container {
  /* display: flex;
  align-items: center;
  margin-left: auto; */
}

.searchHeader :deep(.el-form-item--default) {
  margin-bottom: 0;
}

.pagination-container {
  text-align: right;
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: flex-end;
  transition: height 0.3s ease;
}

.custom-popper {
  font-size: 14px;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;

}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tool-left {
  margin-bottom: 10px;
  margin-left: 6px;
}

.table-scroll {
  overflow-y: auto;
  margin-bottom: 10px;
}

.tool-right {
  margin-bottom: 10px;
  text-align: left;
  padding: 0 8px;
  margin-top: -17px;

}

.el-dialog__title {
  color: #000 !important;
}

.el-dialog__body {
  color: var(--el-text-color-regular);
  font-size: var(--el-dialog-content-font-size);
  padding-right: 55px;
}

.toolLeftRight {
  /* display: flex;
  justify-content: space-between; */
}

.cell-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
  line-height: 1.5;
  max-height: 4.5em;
  /* 3行 * 1.5行高 */
}